body {
    padding-top: 50px;
    padding-bottom: 20px;
}

body nav img {
    float: left;
    margin-bottom: 20px;
    margin-right: 100px;
    margin-left: 50px;
}

#testimonial {
    background-image: url(/img/who-we-are/testimonial.jpg);
    color: azure;
    background-size:cover;
}

.navbar-brand {
    margin-top: -8px;
}

#device-cat {
    background-image: url(/img/device-categories/banner_welcome_page_prodotti_072015.jpg);
    background-size: cover;
    
}

.col-sm-6 {
    
    background: #fff;
	cursor: pointer;
	float: left;
    height: auto;
    width: 400px;
    display: grid;  
	border: 10px solid #fff;
	text-align: left;
	text-transform: none;
	margin: 15px;
	z-index: 1;
	-webkit-backface-visibility: hidden;
	box-shadow: 
		0px 0px 0px 10px rgba(255,255,255,1), 
		1px 1px 3px 10px rgba(0,0,0,0.2);
}

.device-cat h2 {
    color: white;
}

.footer {
  position: sticky;
  bottom: 5px;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 40px;
  background-color: #f5f5f5;
}



